@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  padding: 1.5rem;
  width: 100%;
  height: 100vh;
  /*background-image: url(/images/bg-pattern-top-mobile.svg),
    url(/images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;*/
}

main {
  display: flex;
  flex-direction: column;
}

main > * {
  display: flex;
  flex-direction: column;
}

.text-content {
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-content h1 {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  padding: 0 2rem 0 2rem;
}

.text-content p {
  color: var(--Dark-Grayish-Magenta);
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}

.review-section {
  align-items: center;
  color: var(--Very-Dark-Magenta);
  margin-bottom: 2rem;
}

.review-section > * {
  margin-bottom: 1rem;
  flex-basis: 100%;
  padding: 1rem;
}

.review-section-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-Grayish-Magenta);
}

.review-section-child > * {
  margin-bottom: 0.5rem;
  width: 20rem;
  text-align: center;
  border-radius: 5px;
}

.testimonial-section > * {
  margin-bottom: 1rem;
}

.testimonial-section-child {
  background-color: var(--Very-Dark-Magenta);
  color: var(--White);
  padding: 2.5rem 2rem 2.5rem 2rem;
  border-radius: 5px;
  color: var(--Light-Grayish-Magenta);
}

.testimonial-section-child h2:nth-child(1) {
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.testimonial-section-child h2:nth-child(2) {
  color: var(--Soft-Pink);
  font-weight: 400;
}

.testimonial-section-child p {
  font-size: 1rem;
  margin-top: 1.5rem;
  font-weight: 500;
}

.frame-pic {
  display: flex;
  align-items: center;
}

.pfp {
  border-radius: 50%;
  margin-right: 1rem;
  width: 4rem;
}

@media only screen and (min-width: 700px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url(/images/bg-pattern-top-desktop.svg),
      url(/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;*/
  }

  * {
    padding: 0;
    margin: 0;
  }

  main {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  main > * {
    flex: 1 1 50%;
  }

  .text-content {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0 10rem 0 10rem;
    text-align: left;
  }

  .text-content h1 {
    font-size: 3rem;
    padding: 0;
  }

  .text-content p {
    padding: 0;
  }

  .review-section {
    margin: 0;
  }

  .review-section-child {
    width: 30rem;
    flex-direction: row;
    height: 50px;
    padding: 0 1rem 0 1rem;
  }

  .review-section-child > * {
    margin: 0;
  }

  .review-section-child:nth-child(1) {
    margin-right: 50%;
  }

  .review-section-child:nth-child(2) {
    margin-right: 25%;
  }

  .stars {
    width: 150px;
  }

  .testimonial-section {
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    font-size: 1rem;
  }

  .testimonial-section-child {
    width: 350px;
    height: 250px;
  }

  .testimonial-section-child:nth-child(1) {
    position: absolute;
    left: 150px;
    bottom: 2rem;
  }

  .testimonial-section-child:nth-child(2) {
    margin-left: 2rem;
  }

  .testimonial-section-child:nth-child(3) {
    position: absolute;
    right: 8rem;
    bottom: -2rem;
  }
}
